@keyframes Appear-Img {
    0% {
        opacity: 0;
        right: 29%;
    }
    100% {
        opacity: 1;
        right: 30%;
    }
}

.SobreMim {
    padding-top: 8rem;
    width: 100vw;
    height: 90vh;
    background-color: #282828;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: visible;

    >img {
        z-index: 0;
        height: 92%;
        width: auto;
        position: absolute;

        top: 5rem;
        transform: translateX(50%);
    
        opacity: 0;
        right: 25%;
        
        &.in-view {
            animation: Appear-Img 3s ease 1s forwards;
        }
    }
}

.SobreMim-Content {
    z-index: 1;
    width: 100%;
    max-width: 1920px;
    height: 95%;
    margin: 0 auto;
    padding: 0 5rem;

    display: flex;
    flex-flow: column;

    p {
        color: #fff;
        font-weight: 200;
        font-style: italic;
        font-size: 1.8rem;
        max-width: 70%;
        line-height: 2.2rem;
    }
}