.Home {
    width: 100vw;
    height: 92vh;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    position: relative;
}

@keyframes Roll {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }
    50% {
        opacity: 1;
        transform: translateY(30%);
    }
    100% {
        opacity: 0;
        transform: translateY(80%);
    }
}

@keyframes Appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

.Content {
    color: #fff;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;

    .scroll {
        display: flex;
        flex-flow: column;
        margin: auto auto 4rem;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        opacity: 0;
        pointer-events: none;

        transition: transform 0.3s ease;

        >* {
            width: 2rem;
            height: 2rem;

            &:last-of-type {
                width: 1.5rem;

                animation: Roll 1s ease forwards infinite;
            }
        }

        &.show {
            animation: Appear 3s ease 5s forwards;
            pointer-events: all;
        }

        &:hover {
            transform: scale(1.2) translateY(0.3rem);
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 0.2;
    }
    to {
        transform: scale(20) rotate(360deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    width: 100vw;
    height: 92vh;
    background: #282828;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #525252;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 30s linear forwards infinite;
}

.background li:nth-child(0) {
    animation-delay: 0s;
    left: 13vw;
    top: 57vh;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 40vw;
    top: 60vh;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 80vw;
    top: 42vh;
    border-color: #535353;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 59vw;
    top: 99vh;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 66vw;
    top: 68vh;
    border-color: #3a3a3a;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 78vw;
    top: 21vh;
}

.background li:nth-child(6) {
    animation-delay: 12s;
    left: 87vw;
    top: 26vh;
}

.background li:nth-child(7) {
    animation-delay: 14s;
    left: 99vw;
    top: 47vh;
}

.background li:nth-child(8) {
    animation-delay: 16s;
    left: 91vw;
    top: 38vh;
    border-color: #474747;
}

.background li:nth-child(9) {
    animation-delay: 18s;
    left: 37vw;
    top: 30vh;
    border-color: #5a5a5a;
}

.background li:nth-child(10) {
    animation-delay: 20s;
    left: 23vw;
    top: 3vh;
}

.background li:nth-child(11) {
    animation-delay: 22s;
    left: 45vw;
    top: 5vh;
}

.background li:nth-child(12) {
    animation-delay: 24s;
    left: 2vw;
    top: 93vh;
    border-color: #505050;
}

.background li:nth-child(13) {
    animation-delay: 26s;
    left: 60vw;
    top: 50vh;
}

.background li:nth-child(14) {
    animation-delay: 28s;
    left: 73vw;
    top: 71vh;
}

.background li:nth-child(15) {
    animation-delay: 30s;
    left: 53vw;
    top: 16vh;
    border-color: #444444;
}

.background li:nth-child(16) {
    animation-delay: 32s;
    left: 25vw;
    top: 83vh;
}

.background li:nth-child(17) {
    animation-delay: 34s;
    left: 6vw;
    top: 87vh;
}

.background li:nth-child(18) {
    animation-delay: 36s;
    left: 16vw;
    top: 75vh;
    border-color: #535353;
}

.background li:nth-child(19) {
    animation-delay: 38s;
    left: 32vw;
    top: 12vh;
}
