@keyframes dash {
    0% {
        stroke-dashoffset: 0;
        opacity: 0.8;
    }
    5% {
        opacity: 0;
    }
    20% {
        stroke-dashoffset: 0;
        opacity: 0;
    }
    23% {
        stroke-dashoffset: 1720;
        opacity: 0;
    }
    24% {
        opacity: 1;
    }
    100% {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

.Servicos {
    margin: 0 auto;
    width: 100vw;
    max-width: 1440px;
    height: 92vh;
    overflow: visible;
    position: relative;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media (max-width: 767px) {
        height: 40vh;
    }

    .Area {
        flex-shrink: 0;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        background-color: #232323;
        color: #fff;
        margin: 0 1vw;
        width: 25%;
        height: 40%;
        border-radius: 1rem;
        padding: 2rem;
        border: 2px solid rgb(74, 74, 74);
        opacity: 0.7;
        z-index: 0;
        cursor: cell;

        transition: border-color 0.5s ease-in-out, opacity 0.5s ease-in-out, background-color 1s ease, transform 0.5s ease-in-out;

        &:hover {
            background-color: #171717;
            opacity: 1;
            border-color: #cdcdcd;
            border-width: 2px;

            &.First, &.Middle, &.Last {
                z-index: 1;
                transform: rotate(0deg) translateY(-5%) scale(1.12);
            }

            svg {
                opacity: 1;
                transform: scale(0.8);
                transition: transform 0.3s ease, opacity 0.5s ease 0.9s;

                * {
                    animation: dash 2.5s ease-in-out forwards;
                }
            }
        }

        svg {
            pointer-events: none;
            opacity: 0.3;
            height: 50%;
            width: auto;
            margin: 0 auto auto;
            transform: scale(0.7);
            transition: transform 0.3s ease, opacity 0.5s ease;

            * {
                stroke-dasharray: 1720;
                stroke-dashoffset: 0;
            }
        }

        h6 {
            margin-bottom: 1.5rem;
            font-size: 1.8rem;
            color: #fff;
            pointer-events: none;
        }

        p {
            color: #a0a0a0;
            font-weight: 300;
            font-style: italic;
            line-height: 2rem;
            height: 25%;
            pointer-events: none;
        }

        &.First {
            transform: rotate(-3deg);
        }
        &.Middle {
            transform: translateY(-3%);
        }
        &.Last {
            transform: rotate(3deg);
        }
    }
}

