:root {
    --left-value: 0px;  
}

.Projetos {
    width: 100vw;
    height: 90vh;
    background-color: #282828; 
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.Projetos-Content {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    padding: 0 5rem;

    display: flex;
    flex-flow: column;
}

.Galeria {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    
    >*:last-child {
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            width: fit-content;
            height: fit-content;
        }
    }

    .hide {
        opacity: 0;
        pointer-events: none;
    }

    .Line {
        position: relative;
        display: flex;
        flex-flow: row;
        width: 100%;
        height: 21rem;

        transition: transform 0.3s ease-in-out;
        
        &.showMore {
            .G11 {
                transition: transform 0.4s ease-in-out 0s, opacity 0s 1s;

                transform: translateX(-100vw);
                opacity: 0;
            }
            .G12 {
                transition: transform 0.4s ease-in-out 0s, opacity 0s 0s;

                transform: translateX(0);
                opacity: 1;
            }
                .G21 {
                    transition: transform 0.4s ease-in-out 0.2s, opacity 0s 1s;

                    transform: translateX(-100vw);
                    opacity: 0;
                }
                .G22 {
                    transition: transform 0.4s ease-in-out 0.2s, opacity 0s 0s;
    
                    transform: translateX(0);
                    opacity: 1;
                }
        }
        .G11 {
            transition: transform 0.4s ease-in-out 0s, opacity 0s 0s;

            transform: translateX(0);
            opacity: 1;
        }
        .G12 {
            transition: transform 0.4s ease-in-out 0s, opacity 0s 1s;

            transform: translateX(100vw);
            opacity: 0;
        }
            .G21 {
                transition: transform 0.4s ease-in-out 0.2s, opacity 0s 0s;

                transform: translateX(0);
                opacity: 1;
            }
            .G22 {
                transition: transform 0.4s ease-in-out 0.2s, opacity 0s 1s;
    
                transform: translateX(100vw);
                opacity: 0;
            }

        .Group {
            display: flex;
            flex-flow: row;
            width: 100%;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;

            position: absolute;

            .Item {
                position: relative;
                display: flex;
                flex-flow: column;
                margin: 0;
                background-color: #EAEAEA;
                border-radius: 20px;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                width: 30%;

                transition: transform 0.2s ease;

                &:hover {
                    transform: scale(1.05);

                    button div {
                        max-height: 20%;

                        >* {
                            opacity: 1;
                        }
                    }
                }

                &:active {
                    transform: scale(0.95);
                }

                img {
                    width: 100%;
                    height: auto;
                }

                button {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;

                    div {
                        background-color: #282828ab;
                        width: 100%;
                        height: 100%;
                        max-height: 0%;
                        margin-top: auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        pointer-events: none;
                        padding: 0 1rem;
                        overflow: hidden;

                        transition: max-height 0.3s ease;

                        >* {
                            transition: opacity 0.2s ease;
                            opacity: 0;
                        }

                        color: #fff;                        
                        h5 {
                            font-size: 1.5rem;
                            font-weight: 500;
                            text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2), 2px 2px 4px #000000;
                        }
                        span {
                            background-color: #282828;
                            width: fit-content;
                            padding: 0.4rem 0.9rem;
                            border-radius: 0.8rem;
                            font-weight: 300;
                            font-size: 1.1rem;
                        }
                    }
                }

                &.disabled {
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }
    }
}

@keyframes Fade-Appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.Fade {
    z-index: 11;
    appearance: none;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);

    &.move {
        display: flex;
        animation: Fade-Appear 0.5s ease-in-out forwards;
    }

    &.close {
        display: none;
    }
}

.Inspect {
    z-index: 12;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #CDCCCC;
    height: 100%;
    width: 90%;
    max-width: 1335px;
    position: fixed;
    top: 0;
    left: var(--left-value);
    transform: translateX(-50%);
    overflow: hidden;

    transition: max-width 0.5s ease 0.3s;

    &.open {
        max-width: 1335px;
        left: var(--left-value);
    }
    &.move {
        max-width: 1335px;
        left: 50%;

        transition: max-width 0.5s ease 0.3s, left 0.3s ease-out 0.2s;
    }
    &.close {
        max-width: 0%;
        left: 50%;

        transition: max-width 0.5s ease, left 0.3s ease-out;
    }

    .Inspect-Content {
        display: flex;
        flex-flow: row;
        flex-shrink: 0;
        width: 90vw;
        max-width: 1335px;
        height: 100%;

        overflow-y: scroll;
        overflow-x: hidden;

        >div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row;
        }

        h1 {
            font-size: 4rem;
            font-weight: 700;
            color: #303031;
            margin: 0 0 1rem 0.5rem;
            font-style: italic;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            color: #303031;
            margin: 1.5rem 0 0 0.5rem;
            font-style: italic;
        }

        .Side {
            display: flex;
            flex-flow: column;
            height: 100%;
            width: 50%;
            background-color: #CDCCCC;
            padding: 1rem 2rem 3rem;
            overflow-y: auto;

            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none; 
            scrollbar-width: none; 

            p {
                font-size: 1.35rem;
                margin-bottom: 2rem;
                font-style: italic;
            }

            a {
                margin-left: auto;
            }
        }

        .Side:last-of-type {
            background-color: #EAEAEA;
        }

        .Vertical-Content {
            display: flex;
            flex-flow: column;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-self: flex-start;
            padding: 1rem 2rem;

            .Line {
                display: flex;
                flex-flow: row;
                width: 100%;
            }

            .Block {
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                margin-top: 1rem;
            }
        }

        .Window {
            flex-shrink: 0;
            display: flex;
            width: 100%;
            height: fit-content;
            overflow: hidden;
            border-radius: 3rem;
        }

        .Close-Button {
            margin: 0 0 3rem auto;
            width: 2.3rem;
            height: 2.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: transparent;
            color: #CDCCCC;
            border-radius: 2rem;
            opacity: 1;
        
            transition: transform 0.3s ease, opacity 0.3s ease-in-out, background-color 0.2s ease; 
        
            &:hover {
              transform: scale(1.2);
              background-color: #282828;

              * {
                fill: #CDCCCC;
              }
            }

            &:active {
                transform: scale(0.9);
            }

            >* {
                width: 2.3rem;
                height: 2.3rem;
            }
        }
    }

    /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 5px;
    scrollbar-color: #7e7e7e;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #CDCCCC;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #7e7e7e;
    border-radius: 10px;
    border: 0px;
  }
}