@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

//CSS-RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  font-size: 16px;
  @media screen and (max-width: 1300px) {
    font-size: 11px;
  }
}
body {
	line-height: 1;
  font-family: "Poppins", sans-serif;
  color: #303031;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, a {
  appearance: none;
  cursor: pointer;
}
h1,h2,h3,h4,h5,p {
  cursor: default;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 5px;
    scrollbar-color: #282828;

    @media (max-width: 767px) {
      ::-webkit-scrollbar {
        display: none;
      }
    }
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #282828;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #CDCCCC;
    border-radius: 10px;
    border: 0px;
  }

@keyframes ShowUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.MainWrapper {
  background-color: #282828;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  overflow-y: auto;

  >* {
    flex-shrink: 0;
  }

  .hotbar {
    z-index: 2;

    height: 100%;
    max-height: 4.7rem;
    //background-color: #282828;
    background-color: rgba(40,40,40,0.99);
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 1s ease-in-out, max-height 0.5s ease-in-out 0.2s;

    opacity: 0;
    animation: ShowUp 1s ease 3s forwards;

    @media (max-width: 767px) {
      display: none;
    } 

    &.darker {
      background-color: #1d1d1d;
      max-height: 5.5rem;

      .Links button {
        font-size: 1.5rem;
      }
    }

    button, a {
      opacity: 0;
      animation: ShowUp 1s ease 3.2s forwards;
    }

    .Links button {
      &:nth-last-of-type(4) {
        animation-delay: 3.5s;
      }
      &:nth-last-of-type(3) {
        animation-delay: 4s;
      }
      &:nth-last-of-type(2) {
        animation-delay: 4.5s;
      }
      &:nth-last-of-type(1) {
        animation-delay: 5s;
      }
    }

    >div {
      width: 100%;
      max-width: 1920px;
      height: 100%;
      margin: 0 auto;
      padding: 0 5rem;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      >button {
        display: flex;
        background-color: transparent;
        border: none;
        height: 55%;
        transform: scale(1);
  
        transition: transform 0.2s ease-in-out;
  
        &:hover {
          transform: scale(1.2);
        }
  
        &:active {
          transform: scale(1.05);
        }
  
        >* {
          height: 100%;
        }
      }
    }

    .Links {
      display: flex;
      flex-flow: row;
      margin-left: auto;

      button {
        height: 100%;
        width: fit-content;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        color: #fff;
        font-size: 1.2rem;
        margin: 0 0 0 2rem;
        background-color: transparent;
        border: none;
  
        transition: transform 0.2s ease-in, font-size 0.5s ease 0.3s;

        hr {
          background-color: #b6b6b6;
          border-color: transparent;
          width: 100%;
          max-width: 0%;
          opacity: 0;
          margin: 0;

          transition: max-width 0.3s ease-out 0.1s, opacity 0.2s;
        }

        &:hover, &.active {
          transform: scale(1.1);

          hr {
            max-width: 100%;
            opacity: 1;
          }
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }  

  h1.title {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1rem;
  }

  .Default-Button {
    border: none;
    background-color: #282828;
    color: #fff;
    width: fit-content;
    font-size: 1.5rem;
    font-style: italic;
    padding: 0.6rem 1.2rem;
    border-radius: 1rem;
    opacity: 1;

    transition: transform 0.3s ease, opacity 0.3s ease-in-out; 

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
      opacity: 0.5;
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  .Invert-Button {
    border: none;
    background-color: #fff;
    color: #282828;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.6rem 1.2rem;
    border-radius: 1rem;
    opacity: 1;

    transition: transform 0.3s ease, opacity 0.3s ease-in-out; 

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
      opacity: 0.5;
    }

    &:disabled {
      transform: scale(1);
      opacity: 0.2;
    }

    &.hide {
      opacity: 0;
      pointer-events: none;
    }
  }
}